#container {
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;

  #content {
    width: 50%;
    height: 400px;

    .layout {
      height: 100%;

      #upcoming {
        flex: 1;
      }

      .divider {
        border: 1px solid white;
        align-self: stretch;
      }

      #now {
        flex: 1;
      }
    }
  }

  #close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
